.wrapper {
   padding-top: 60px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 50px;
   font-family: 'Century', 'sans-serif';

   br {
    display: block;
    margin-bottom: 25px;
   }
}

.mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
        height: 60px;
    width:240px;
    font-size: 28px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #FEB678;
    transition: all 0.2s ease;


    :hover {
        transform: scale(1.05);
    }
}


.photos {
    height: 300px;
}